{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "<S3_BUCKET>",
    "Key": "dockercfg.txt"
  },
  "Image": {
    "Name": "barquin/<DOCKER_REPO>:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ],
  "Volumes": [
    {
      "HostDirectory": "/var/app/mydb",
      "ContainerDirectory": "/etc/mysql"
    }
  ],
  "Logging": "/var/log/nginx"
}
